@mixin text($ff, $fw, $fz) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fz;
}

@mixin transition($transition)
{
    -webkit-transition: all $transition ease-in-out;
    -moz-transition: all $transition ease-in-out;
    -o-transition: all $transition ease-in-out;
    transition: all $transition ease-in-out;
}

@mixin border-radius($radius)
{
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin flex($display, $align-items, $justify-content) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin grid($display, $grid-template-columns, $align-items, $justify-content) {
    display: $display;
    grid-template-columns: $grid-template-columns;
    align-items: $align-items;
    justify-content: $justify-content;
}
