.splash {
    // @extend .--container;
    background-color: #ebeff2;

    .splash-grid {
        @include grid(grid, 300px 1fr auto, start, start);
        grid-gap  : $r16;
        padding   : $r16 0;
        min-height: 50vh;

        .splash-grid__products-and-services {
            background-color: $white;
            height          : 100%;

            nav {
                .nav-header {
                    @include text($display-text, $regular, $r16);
                    color           : $white;
                    background-color: $secondary-theme-color;
                    padding         : $r11 $r16;
                    cursor          : pointer;
                }

                .nav-content {
                    background-color: $white;

                    height    : 440px;
                    overflow-y: auto;



                    ul {
                        list-style-type     : none;
                        padding-inline-start: 0;

                        li {
                            border-bottom: 1px solid rgba(#000, .1);
                            padding      : .2rem 0;
                            cursor       : pointer;

                            &:hover {
                                background-color: rgba($light-gray, .1);
                            }

                            a {
                                text-decoration: none;
                                @include text($display-text, $regular, $r16);
                                color  : $primary-text-color;
                                padding: .65rem;
                            }

                            ul {
                                li {
                                    &:last-child {
                                        border-bottom: 0;
                                    }

                                    a {
                                        font-size: $r13;
                                    }

                                }
                            }

                            .cat-link {
                                &::before {
                                    content       : '\26AB';
                                    color         : #a0a0a0;
                                    margin-right  : 1.5rem;
                                    padding-left  : .8rem;
                                    border-radius : 100%;
                                    font-size     : .4rem;
                                    opacity       : .5;
                                    vertical-align: middle;
                                }

                                text-decoration: none;
                                @include text($display-text, $regular, $r12);
                                color: $primary-text-color;

                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 992px) {
                display: none;
            }
        }

        .splash-grid__slider {
            position: relative;
            overflow: hidden;
            height  : 100%;

            .swiper-splash-container {
                width : 100%;
                height: 100%;

                .swiper-wrapper {
                    .swiper-slide {
                        // > div
                        // {
                        //     height: 100%;
                        //     background-size: cover;
                        //     background-position: center;
                        //     background-repeat: no-repeat;
                        // }

                        img {
                            width     : 100%;
                            height    : 100%;
                            object-fit: cover;
                        }
                    }
                }

                .swiper-pagination {
                    text-align : left;
                    margin-left: $r16;
                }

                .swiper-pagination-bullet-active {
                    background: $white;
                }
            }

            .swiper-button-next {
                background-image: url("../../assets/img/arrow-right.png");
                left            : auto;
                right           : 1rem;
                top             : auto;
                bottom          : 1rem;
                background-size : auto;
                width           : 40px;
                height          : 40px;
                border-radius   : 100%;
                color           : #f8728d !important;

                @media screen and (max-width: $mobile-xlg) {
                    width : 25px;
                    height: 25px;
                }
            }

            .swiper-button-prev {
                background-image: url("../../assets/img/arrow-left.png");
                left            : auto;
                right           : 1rem;
                margin-right    : 3rem;
                top             : auto;
                bottom          : 1rem;
                background-size : auto;
                width           : 40px;
                height          : 40px;
                border-radius   : 100%;

                @media screen and (max-width: $mobile-xlg) {
                    width       : 25px;
                    height      : 25px;
                    margin-right: 2.5rem;
                }
            }
        }

        .splash-grid__a-d-d {
            @include grid(grid, 1fr, start, start);
            grid-gap: $r16;
        }

        @media screen and (max-width: $mobile-xlg) {
            grid-template-columns: 1fr;
            grid-template-areas  : "slider""a-d-d""services";

            .splash-grid__products-and-services {
                grid-area: services;
            }

            .splash-grid__slider {
                grid-area: slider;
            }

            .splash-grid__a-d-d {
                grid-area            : a-d-d;
                grid-template-columns: 1fr 1fr;
            }

        }
    }
}

.section-title {
    @include flex(flex, center, start);
    padding-bottom: $r16;

    .section-title__text {
        @include text($display-text, $medium, 1.8rem);
        // width: calc(100% - 60%);
        white-space: nowrap;
    }

    .section-title__line {
        background-color: #d2d2d2;
        height          : 5px;
        padding         : 2px 0;
        width           : 100%;
        margin-left     : 1rem;
    }
}

.featured-services {
    background-color: $white;
    padding-top     : 2rem;
    padding-bottom  : 1rem;

    .featured-services__content {
        @include grid(grid, 317px 1fr, start, start);
        grid-gap: 5px;
        padding : .65rem 0;

        .featured-services__content-item {
            height  : 100%;
            overflow: hidden;
            padding : .65rem 0;

            .featured-services__content-item__img-deals-holder {
                position: relative;
                height  : 100%;

                img {
                    position  : absolute;
                    width     : 100%;
                    object-fit: cover;
                }

                button {
                    position: absolute;
                    bottom  : 55px;
                    left    : calc(100% - 265px);
                }
            }

            .featured-services__swiper-slide__item {
                display              : grid;
                grid-template-columns: 1fr;
                border               : 1px solid rgba(#000, .1);
                overflow             : hidden;
                cursor               : pointer;

                .featured-services__swiper-slide__item-img {
                    // @include transition(.2s);
                    // background-size: cover;
                    // background-position: center;
                    // background-repeat: no-repeat;
                    // height: 100%;
                    // padding: 4rem 0;
                    // overflow: hidden;

                    img {
                        width     : 100%;
                        object-fit: cover;
                    }
                }

                .featured-services__swiper-slide__item-img-info {
                    @include text($display-text, $regular, $r16);
                    padding: $r14;

                    .title {
                        color: $primary-text-color;
                    }

                    .desc {
                        font-size: $r14;
                        color    : $secondary-text-color;
                    }
                }
            }
        }

        @media screen and (max-width: $mobile-xlg) {
            grid-template-columns: 1fr;
            grid-template-rows   : auto 1fr;

            .featured-services__content-item {
                .featured-services__content-item__img-deals-holder {
                    display              : grid;
                    grid-template-columns: 1fr;

                    img {
                        position: relative;
                    }

                    button {
                        // position: relative;
                        // bottom: 0px;
                        // width: 100%;
                        // left: 0px;
                    }
                }
            }
        }
    }
}

.real-state {
    background-color: $white;
    padding-top     : 2rem;
    padding-bottom  : 1rem;

    .real-state__content {
        overflow: hidden;
        padding : .65rem 0;

        .swiper-real-state-container {
            position: relative;

            .swiper-wrapper {
                .swiper-slide {
                    border: 1px solid rgba(#000, .1);
                    cursor: pointer;
                }
            }

            .swiper-product-item__img {
                img {
                    object-fit: cover;
                    width     : 100%;
                }
            }

            .slide-item__info {
                padding: .65rem;

                .slide-item__info-price {
                    @include text($display-text, $medium, $r16);
                }

                .slide-item__info-desc {
                    @include text($display-text, $regular, $r14);
                    color: rgba($primary-text-color, .8);
                }
            }

            .swiper-button-next {
                background-image: url("../../assets/img/arrow-right.png");
                background-size : auto;
                width           : 40px;
                height          : 40px;
                color           : #f8728d !important;
            }

            .swiper-button-prev {
                background-image: url("../../assets/img/arrow-left.png");
                background-size : auto;
                width           : 40px;
                height          : 40px;
            }
        }
    }

    .real-state__content--sub {
        padding-top   : 4rem;
        padding-bottom: 4rem;

        .real-state__content--sub__grid {
            @include grid(grid, 290px 1fr, start, start);
            grid-gap: 5px;
            padding : .65rem 0;

            .real-state__content--sub__grid-item {
                overflow: hidden;

                img {
                    width     : 100%;
                    object-fit: cover;
                }

                .swiper-real-state-container--sub {
                    position: relative;

                    .swiper-wrapper {
                        .swiper-slide {
                            border: 1px solid rgba(#000, .1);
                            cursor: pointer;
                        }
                    }

                    .swiper-product-item__img {
                        img {
                            object-fit: cover;
                            width     : 100%;
                        }
                    }

                    .slide-item__info {
                        padding: .65rem;


                        .slide-item__info-name {
                            @include text($display-text, $medium, $r14);
                            color: $primary-text-color;
                        }

                        .slide-item__info-desc {
                            @include text($display-text, $regular, $r12);
                            color: rgba($primary-text-color, .8);
                        }

                        .slide-item__info-price {
                            @include text($display-text, $medium, $r12);
                            color: $primary-text-color;
                        }
                    }

                    .swiper-button-next {
                        background-image: url("../../assets/img/arrow-right.png");
                        background-size : auto;
                        width           : 40px;
                        height          : 40px;
                        color           : #f8728d !important;
                    }

                    .swiper-button-prev {
                        background-image: url("../../assets/img/arrow-left.png");
                        background-size : auto;
                        width           : 40px;
                        height          : 40px;
                    }
                }
            }

            @media screen and (max-width: $mobile-xlg) {
                grid-template-columns: 1fr;
            }
        }
    }
}

.request-qoutation {
    background-color: $secondary-theme-color;
    padding         : 3rem 0;

    .request-qoutation__grid {
        @include grid(grid, 1fr 1fr, start, start);

        .request-qoutation__grid-item {
            background-color: $white;
            height          : 100%;

            form {
                padding    : 0 2rem;
                height     : 100%;
                font-family: $display-text;

                .form-title {
                    @include text($display-text, $medium, 1.5rem);
                    padding: 1rem 0 1.5rem 0;
                }

                .request-qoutation__grid-item__input-fields {
                    @include grid(grid, 1fr 1fr, start, start);
                    grid-gap  : $r16;
                    margin-top: -$r16;

                    input,
                    textarea {
                        margin-top: $r16;
                        width     : 100%;
                        border    : 1px solid rgba(#000, .1);
                        padding   : .45rem;
                    }

                    textarea {
                        height: 100%;
                    }
                }

                button {
                    float : right;
                    margin: .65rem 0;
                }
            }
        }

        @media screen and (max-width: $mobile-xlg) {
            grid-template-columns: 1fr;

            .request-qoutation__grid-item {
                form {
                    .request-qoutation__grid-item__input-fields {
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}

.info-section {
    background-color: $white;
    padding         : 3rem 0;

    .info-section__title {
        @include text($display-text, $medium, 2rem);
        color         : $primary-text-color;
        padding-bottom: 1.5rem;
    }

    .info-section__content {
        @include grid(grid, 1fr 1fr, center, center);
        grid-gap: $r16;

        .info-section__content-paragraph {
            @include text($display-text, $regular, $r16);
            color: rgba($primary-text-color, .8);
        }

        .info-section__content-image {
            @include flex(flex, center, center);
        }

        @media screen and (max-width: $mobile-xlg) {
            grid-template-columns: 1fr;
        }
    }
}

.contact {
    background-color: #ebeff2;
    padding         : 3rem 0;

    .contact__grid {
        @include grid(grid, 1fr 1fr, start, start);
        grid-gap: $r16;

        .contact__grid-item-info {
            padding: 1.5rem;

            .contact__grid-info__title {
                @include text($display-text, $medium, 2rem);
                color         : $primary-text-color;
                padding-bottom: 1.5rem;
            }

            .contact__grid-item-info__content {
                .__content-wrapper {
                    @include flex(flex, center, start);
                    padding: $r16 0;
                    @include text($display-text, $regular, $r14);
                    color: rgba($primary-text-color, .8);

                    .info {
                        margin-left: .65rem;
                    }
                }
            }
        }

        @media screen and (max-width: $mobile-xlg) {
            grid-template-columns: 1fr;
        }
    }
}