.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.product-removal {
    float: left;
    width: 9%;
}

.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    content: '';
    display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
    content: '';
}

.shopping-cart {
    margin-top: -45px;
}

/* Column headers */
.column-labels label {
    padding-bottom: $r15;
    margin-bottom: $r15;
    border-bottom: 1px solid #eee;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
    text-indent: -9999px;
}

/* Product entries */
.product {
    margin-bottom: 1.25rem;
    padding-bottom: $r10;
    border-bottom: 1px solid #eee;
}
.product .product-image {
    text-align: center;
}
.product .product-image img {
    width: 6.25rem;
}
.product .product-details .product-title {
    margin-right: 1.25rem;
    font-family: $display-text;
}
.product .product-details .product-desc {
    margin: 0.3125rem 1.25rem 0.3125rem 0;
    line-height: 1.4em;
    font-size: $r14;
}
.product .product-quantity input {
    width: 40px;
}
.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: transparent;
    border: 1px solid #dc3545;
    color: #dc3545 !important;
    font-family: $display-text;
    font-size: 12px;
    border-radius: 0;
    cursor: pointer;
}
.product .remove-product:hover {
    background-color: #dc3545;
    color: #fff !important;
}

/* Totals section */
.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: $r10;
}
.totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}
.totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}
.totals .totals-item-total {
    font-family: $display-text;
}

.checkout {
    float: right;
    // border: 0;
    // margin-top: 1.25rem;
    // padding: 0.375rem 1.5625rem;
    // background-color: #6b6;
    // color: #fff;
    // font-size: 1.5625rem;
    // border-radius: 3px;
}

.checkout:hover {
    // background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
    .shopping-cart {
        margin: 0;
        padding-top: 1.25rem;
        border-top: 1px solid #eee;
    }

    .column-labels {
        display: none;
    }

    .product-image {
        float: right;
        width: auto;
    }
    .product-image img {
        margin: 0 0 $r10 $r10;
    }

    .product-details {
        float: none;
        margin-bottom: $r10;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 4.375rem;
    }

    .product-quantity {
        width: 6.25rem;
    }
    .product-quantity input {
        margin-left: 1.25rem;
    }

    .product-quantity:before {
        content: 'x';
    }

    .product-removal {
        width: auto;
    }

    .product-line-price {
        float: right;
        width: 4.375rem;
    }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
    .product-removal {
        float: right;
    }

    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: $r10;
    }

    .product .product-line-price:before {
        content: 'Item Total: $';
    }

    .totals .totals-item label {
        width: 60%;
    }
    .totals .totals-item .totals-value {
        width: 40%;
    }
}
